.content {
    margin :40px;
    margin-right: 80px ;
    text-align: center;
}
.item {
    margin : 40px;
    margin-right: 80px;
    text-align: center;
}
h1 {
    color:rebeccapurple;
    margin: 30px;
}
p{
    font-style: italic;
    font-size: large;
    color:purple
}